@import "src/assets/styles/mixins-and-variables.scss";

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  @include align-center-flexbox();
  justify-content: space-between;
  padding: 37px $spacing-to-sides;
  background-color: $color-main;
}

nav {
  @include justifyContent-center-flexbox();
  align-items: flex-start;
  gap: 29px;
  a {
    color: $color-white;
    font-size: 23px;
    &:hover {
      color: $color-bright-blue;
    }
  }
}
