@import "src/assets/styles/general-mixins-variables.scss";

footer {
  @include general-layout();
  @include align-center-flexbox();
  justify-content: space-between;
  border-top: 4px solid var(--color-bright-blue);
}

.imprint-and-data-protection {
  @include align-center-flexbox();
  gap: 15px;
  a {
    color: var(--color-white);
    font-size: var(--font-size-one);
    &:hover {
      color: var(--color-bright-blue);
    }
  }
}

span {
  font-size: var(--font-size-one);
}
