@import "src/assets/styles/general-mixins-variables.scss";

footer {
  @include general-layout();
  @include align-center-flexbox();
  justify-content: space-between;
  border-top: 4px solid var(--color-bright-blue);
}

.imprint-and-data-protection {
  @include align-center-flexbox();
  gap: 15px;
  a {
    color: var(--color-white);
    font-size: var(--font-size-one);
    &:hover {
      color: var(--color-bright-blue);
    }
  }
}

span {
  font-size: var(--font-size-one);
}

@media only screen and (max-width: 745px) {
  footer {
    padding-top: 40px;
    padding-bottom: 40px;
    @include column-flex-box();
    align-items: center;
  }

  .content-footer {
    @include column-flex-box();
    gap: 30px;
  }

  .logo-and-links-container {
    gap: 35px;
  }
}
