<section>
  <div class="scroll-down-container">
    <span>Scroll down</span>
    <img src="./assets/img/arrow-down.png" alt="" />
  </div>
  <aside>
    <div class="icons-and-email">
      <div class="blue-line-left"></div>
      <app-social-media-icons></app-social-media-icons>
      <a href="mailto:l.ressssi@gmail.com">l.ressssi@gmail.com</a>
    </div>
  </aside>
  <main>
    <div class="text-section">
      <h2>About me</h2>
      <span class="introduction">
        Hi, I am a Front-end deverloper based in München, Germany(....)Lorem
        ipsum dolor sit amet, consectetur adipiscing elit. Ut auctor sem non
        tempus convallis. Integer et justo vitae urna finibus eleifend sit amet
        porttitor sapien. Donec sollicitudin massa vel lorem vestibulum
        efficitur.
      </span>
      <div class="icons-and-text-container">
        <div class="icon-with-img-container">
          <img src="./assets/img/bulb.png" alt="image of a bulb" />
          <span
            >Some personal thing to share(...) Donec ut imperdiet diam, et
            convallis neque. Class aptent taciti sociosqu ad litora torquent per
            conubia nostra, per inceptos himenaeos.
          </span>
        </div>
        <div class="icon-with-img-container">
          <img src="./assets/img/puzzle.png" alt="image of a puzzle piece" />
          <span
            >Some personal thing to share(...) Donec ut imperdiet diam, et
            convallis neque. Class aptent taciti sociosqu ad litora torquent per
            conubia nostra, per inceptos himenaeos.
          </span>
        </div>
      </div>
    </div>
    <div class="img-section">
      <div class="profile-img-small-container">
        <img
          src="./assets/img/profile-image-small.png"
          alt="image of portfolio owner"
        />
      </div>
      <div class="blue-line-right"></div>
    </div>
  </main>
  <div class="bg-form-about-me-container">
    <img
      src="./assets/img/bg-form-about-me.png"
      alt="colorful form as a backgroundimage"
    />
  </div>
</section>
