@import "src/assets/styles/mixins-and-variables.scss";

section {
  display: flex;
  flex-direction: column;
  background-color: $color-main;
  padding: $spacing-top-sections $spacing-to-sides $spacing-bottom-sections;
  margin-top: $spacing-between-sections;
}

aside {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 3;
}

.icons-and-email {
  @include centerAlignItems();
  gap: 42px;
  a {
    font-size: 23px;
    color: $color-white;
  }
}

.blue-line {
  position: absolute;
  left: 0;
  width: $spacing-to-sides;
  height: 3px;
  background-color: $color-middle-blue;
}

.icons-container {
  @include centerAlignItems();
  gap: 42px;
  margin-left: 42px;
  img {
    width: 30px;
    height: 30px;
    transition: all 225ms ease-in-out;
    &:hover {
      width: 40px;
      height: 40px;
    }
  }
}

.scroll-down-container {
  @include centerAlignItems();
  flex-direction: column;
  gap: 3px;
  cursor: pointer;
  div {
    transform: rotate(90deg);
    color: $color-white;
    font-size: 23px;
  }
  img {
    display: block;
    width: 24px;
    height: 24px;
  }
}

//MAIN

main {
  z-index: 3;
  margin-top: $spacing-between-sections;
}

.about-me-text-container {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.introduction {
  font-size: 16px;
}
