@import "src/assets/styles/mixins-and-variables.scss";

section {
  @include column-flex-box();
  @include general-layout();
  position: relative;
}

aside {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 3;
  margin-left: 42px;
}

.icons-and-email {
  @include align-center-flexbox();
  justify-content: space-between;
  gap: 42px;
  a {
    font-size: 23px;
    color: $color-white;
    @include center-all-flexbox();
  }
}

.blue-line-left {
  position: absolute;
  left: 0;
  width: $spacing-to-sides;
  height: 3px;
  background-color: $color-middle-blue;
}

.scroll-down-container {
  position: absolute;
  right: calc($spacing-to-sides - 75px);
  top: calc($spacing-bottom-sections - 47px);
  @include align-center-flexbox();
  gap: 10px;
  z-index: 3;
  transform: rotate(90deg);
  span {
    color: $color-white;
    font-size: 23px;
  }
  img {
    transform: rotate(-90deg);
    display: block;
    width: 24px;
    height: 24px;
  }
}

main {
  display: flex;
  justify-content: space-between;
  margin-top: $spacing-between-sections;
  z-index: 3;
}

//MAIN-LEFT

.text-section {
  @include column-flex-box();
  align-items: flex-start;
  gap: 35px;
  width: 60%;
}

.introduction {
  font-size: 16px;
}

.icons-and-text-container {
  @include column-flex-box();
  gap: 35px;
  padding-left: 35px;
}

.icon-with-img-container {
  @include center-all-flexbox();
  gap: 35px;
}

//MAIN-RIGHT

.img-section {
  @include align-center-flexbox();
  justify-content: space-between;
}

.profile-img-small-container {
  @include center-all-flexbox();
  border-radius: 100%;
  img {
    width: 509px;
    height: 509px;
    border-radius: 100%;
    object-fit: cover;
    border: solid 4px $color-bright-blue;
  }
}

.blue-line-right {
  position: absolute;
  right: 0;
  width: $spacing-to-sides;
  height: 3px;
  background-color: $color-bright-blue;
}

.bg-form-about-me-container {
  position: absolute;
  top: 150px;
  right: 0;
  object-fit: cover;
  border-radius: 100%;
  img {
    width: 572px;
    height: 900px;
  }
}
