@import "src/assets/styles/mixins-and-variables.scss";

section {
  @include general-layout();
  @include column-flex-box();
  position: relative;
  gap: 60px;
}

aside {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 3;
  margin-left: 42px;
}

.icons-and-email {
  @include align-center-flexbox();
  justify-content: space-between;
  gap: 42px;
  a {
    font-size: 23px;
    color: var(--color-white);
    @include center-all-flexbox();
    &:hover {
      color: var(--color-bright-blue);
    }
  }
}

.blue-line-left {
  position: absolute;
  left: 0;
  width: var(--spacing-to-sides);
  height: 3px;
  background-color: var(--color-middle-blue);
}

.scroll-down-container {
  position: absolute;
  right: calc(var(--spacing-to-sides) - 75px);
  top: 88px;
  @include align-center-flexbox();
  gap: 10px;
  z-index: 3;
  transform: rotate(90deg);
  span {
    color: var(--color-white);
    font-size: 23px;
  }
  img {
    transform: rotate(-90deg);
    display: block;
    width: 24px;
    height: 24px;
  }
}

main {
  display: flex;
  justify-content: space-between;
  margin-top: var(--spacing-between-sections);
  z-index: 3;
}

//MAIN-LEFT

.text-section {
  @include column-flex-box();
  align-items: flex-start;
  gap: 35px;
  width: 60%;
}

.introduction {
  font-size: 16px;
}

.icons-and-text-container {
  @include column-flex-box();
  gap: 35px;
  padding-left: 35px;
}

.icon-with-img-container {
  @include center-all-flexbox();
  gap: 35px;
}

//MAIN-RIGHT

.img-section {
  @include align-center-flexbox();
  justify-content: space-between;
}

.profile-img-small-container {
  @include center-all-flexbox();
  border-radius: 100%;
  img {
    width: 509px;
    height: 509px;
    border-radius: 100%;
    object-fit: cover;
    border: solid 4px var(--color-bright-blue);
  }
}

.blue-line-right {
  position: absolute;
  right: 0;
  width: var(--spacing-to-sides);
  height: 3px;
  background-color: var(--color-bright-blue);
}

.bg-form-about-me-container {
  position: absolute;
  top: 150px;
  right: 0;
  object-fit: cover;
  border-radius: 100%;
  img {
    width: 572px;
    height: 900px;
  }
}

@media only screen and (max-width: 2150px) {
  .icons-and-email {
    a {
      font-size: 20px;
    }
  }

  .scroll-down-container {
    span {
      font-size: 20px;
    }
  }

  .profile-img-small-container {
    img {
      width: 440px;
      height: 450px;
    }
  }
}
