<section>
  <div class="scroll-down-container">
    <span>Scroll down</span>
    <img src="./assets/img/arrow-down.png" alt="" />
  </div>
  <aside id="aside">
    <div class="icons-and-email">
      <div class="blue-line-left"></div>
      <app-social-media-icons></app-social-media-icons>
      <a class="mail-adress" href="mailto:l.hesidenz97@gmail.com"
        >l.hesidenz97@gmail.com</a
      >
    </div>
  </aside>
  <main>
    <div
      class="text-section"
      id="about-me"
      [attr.data-aos]="
        this.ScrollingAnimationService.isMobileView ? 'zoom-in' : 'fade-up'
      "
      [attr.data-aos-anchor-placement]="
        this.ScrollingAnimationService.isMobileView
          ? 'top-bottom'
          : 'top-center'
      "
      [attr.data-aos-duration]="
        this.ScrollingAnimationService.isMobileView ? '300' : '0'
      "
      [attr.data-aos-delay]="
        this.ScrollingAnimationService.isMobileView ? '150' : '0'
      "
    >
      <h2>About me</h2>
      <span class="introduction">
        Hi! I'm a German-speaking Frontend Developer with a focus on project
        work in the field of digitalization. In my previous projects, I've
        specialized in Angular and JavaScript development, successfully creating
        an object-oriented Jump-and-Run game and various business applications.
        I'm excited about a promising future in web development.
      </span>
      <div class="icons-and-text-container">
        <div class="icon-with-img-container">
          <img src="./assets/img/bulb.png" alt="image of a bulb" />
          <span
            >As a developer, I'm passionate about bringing fresh ideas to life
            and emphasizing clean code and an excellent user experience. My goal
            is to develop user-friendly applications that provide real value to
            both businesses and users.
          </span>
        </div>
        <div class="icon-with-img-container">
          <img src="./assets/img/puzzle.png" alt="image of a puzzle piece" />
          <span
            >Collaboration is essential to me, and I value clear communication
            and harmonious teamwork. By leveraging my strong communication
            skills and dedication to working as a team player, I contribute to
            the successful execution of projects.
          </span>
        </div>
      </div>
    </div>
    <div class="img-section">
      <div class="profile-img-small-container">
        <img
          src="./assets/img/profile-image-small.png"
          alt="image of portfolio owner"
        />
      </div>
      <div class="blue-line-right"></div>
    </div>
  </main>
  <div class="bg-form-about-me-container">
    <img
      src="./assets/img/background/about-me-form.png"
      alt="colorful form as a backgroundimage"
    />
  </div>
</section>
