<section>
  <aside>
    <div class="icons-and-email">
      <div class="blue-line"></div>
      <div class="icons-container">
        <img src="./assets/img/icon-github.png" alt="" />
        <img src="./assets/img/icon-email.png" alt="" />
        <img src="./assets/img/icon-linkedin.png" alt="" />
      </div>
      <a href="mailto:l.ressssi@gmail.com">l.ressssi@gmail.com</a>
    </div>
    <div class="scroll-down-container">
      <div>Scroll down</div>
    </div>
  </aside>
  <main>
    <div>
      <h2>About me</h2>
      <span>
        Hi, I am a Front-end deverloper based in München, Germany(....)Lorem
        ipsum dolor sit amet, consectetur adipiscing elit. Ut auctor sem non
        tempus convallis. Integer et justo vitae urna finibus eleifend sit amet
        porttitor sapien. Donec sollicitudin massa vel lorem vestibulum
        efficitur.
      </span>
      <div>
        <div>
          <img src="./assets/img/bulk.png" alt="" />
          <span
            >Some personal thing to share(...) Donec ut imperdiet diam, et
            convallis neque. Class aptent taciti sociosqu ad litora torquent per
            conubia nostra, per inceptos himenaeos.
          </span>
        </div>
        <div>
          <img src="./assets/img/puzzle.png" alt="" />
          <span
            >Some personal thing to share(...) Donec ut imperdiet diam, et
            convallis neque. Class aptent taciti sociosqu ad litora torquent per
            conubia nostra, per inceptos himenaeos.
          </span>
        </div>
      </div>
    </div>
  </main>
</section>
