@import "src/assets/styles/general-mixins-variables.scss";

.details-and-btns-container {
  @include column-flex-box();
  gap: 35px;
  width: 40%;
}

.details-project {
  @include column-flex-box();
  gap: 15px;
  h3 {
    color: var(--color-middle-blue);
  }
}

.skills-of-project {
  span {
    font-size: var(--font-size-two);
    color: var(--color-bright-blue);
  }
}

.description-project {
  font-size: var(--font-size-one);
  text-align: justify;
}

.btns-container {
  @include align-center-flexbox();
  gap: 85px;
  button {
    color: var(--color-white);
    &:hover {
      background-color: var(--color-bright-blue);
    }
  }
}

.btn-live {
  background-color: var(--color-middle-blue);
}

.btn-github {
  background-color: transparent;
  border-color: var(--color-bright-blue);
  border: 1px solid var(--color-bright-blue);
}

.single-project {
  @include align-center-flexbox();
  gap: 110px;
  width: 100%;
  img {
    width: 420px;
    height: 460px;
    object-fit: cover;
  }
}

.place-project-right {
  justify-content: flex-end;
}

.place-project-left {
  justify-content: flex-start;
  img {
    order: 2;
  }
}
