<div
  [ngClass]="{
    'place-project-left': index % 2 === 1,
    'place-project-right': index % 2 === 0
  }"
  class="single-project"
>
  <img
    src="./assets/img/projects/{{ img }}"
    alt="computer with the project image on the screen"
  />
  <div class="details-and-btns-container">
    <div class="details-project">
      <h3>{{ title }}</h3>
      <div class="skills-of-project">
        <span *ngFor="let skill of skills">{{ skill }} | </span>
      </div>
      <span class="description-project">
        {{ description }}
      </span>
    </div>
    <div class="btns-container">
      <a target="_blank" href="{{ linkLiveTest }}"
        ><button class="btn-live">Live test</button></a
      >
      <a target="_blank" href="{{ linkGithub }}"
        ><button class="btn-github">Github</button></a
      >
    </div>
  </div>
</div>
