@import "src/assets/styles/mixins-and-variables.scss";

.details-and-btns-container {
  @include column-flex-box();
  gap: 35px;
  width: 50%;
}

.details-project {
  @include column-flex-box();
  gap: 15px;
  h3 {
    font-size: 32px;
    color: $color-middle-blue;
  }
}

.skills-of-project {
  span {
    font-size: 23px;
    color: $color-bright-blue;
  }
}

.description-project {
  font-size: 16px;
  text-align: justify;
}

.btns-container {
  @include align-center-flexbox();
  gap: 85px;
  button {
    font-size: 23px;
    color: $color-white;
    border-radius: 10px;
    transition: all 225ms ease-in-out;
    &:hover {
      background-color: $color-bright-blue;
    }
  }
}

.btn-live {
  background-color: $color-middle-blue;
}

.btn-github {
  background-color: transparent;
  border-color: $color-bright-blue;
  border: 1px solid $color-bright-blue;
}

.single-project {
  @include align-center-flexbox();
  gap: 250px;
  width: 100%;
  img {
    width: 550px;
    height: 560px;
    object-fit: cover;
  }
}

.place-project-right {
  justify-content: flex-end;
}

.place-project-left {
  justify-content: flex-start;
  img {
    order: 2;
  }
}
