@import "src/assets/styles/mixins-and-variables.scss";

.details-and-btns-container {
  @include column-flex-box();
  gap: 35px;
  width: 40%;
}

.details-project {
  @include column-flex-box();
  gap: 15px;
  h3 {
    font-size: 32px;
    color: var(--color-middle-blue);
  }
}

.skills-of-project {
  span {
    font-size: 23px;
    color: var(--color-bright-blue);
  }
}

.description-project {
  font-size: 16px;
  text-align: justify;
}

.btns-container {
  @include align-center-flexbox();
  gap: 85px;
  button {
    font-size: 23px;
    color: var(--color-white);
    border-radius: 10px;
    transition: all 225ms ease-in-out;
    &:hover {
      background-color: var(--color-bright-blue);
    }
  }
}

.btn-live {
  background-color: var(--color-middle-blue);
}

.btn-github {
  background-color: transparent;
  border-color: var(--color-bright-blue);
  border: 1px solid var(--color-bright-blue);
}

.single-project {
  @include align-center-flexbox();
  gap: 110px;
  width: 100%;
  img {
    width: 420px;
    height: 460px;
    object-fit: cover;
  }
}

.place-project-right {
  justify-content: flex-end;
}

.place-project-left {
  justify-content: flex-start;
  img {
    order: 2;
  }
}

@media only screen and (max-width: 2150px) {
  .single-project {
    img {
      width: 405px;
      height: 417px;
    }
  }

  h3 {
    font-size: 30px;
  }

  button {
    font-size: 20px !important;
  }
}
