<section id="contact">
  <div class="headline-container">
    <div class="blue-line-left"></div>
    <h2>Contact</h2>
  </div>
  <div class="main-container">
    <div
      class="text-container"
      data-aos="fade-right"
      data-aos-easing="ease-in-sine"
      [attr.data-aos-anchor-placement]="
        this.ScrollingAnimationService.isMobileView
          ? 'top-bottom'
          : 'top-center'
      "
      [attr.data-aos-duration]="
        this.ScrollingAnimationService.isMobileView ? '300' : '0'
      "
      [attr.data-aos-delay]="
        this.ScrollingAnimationService.isMobileView ? '200' : '0'
      "
    >
      <span class="problem-solve-text">Got a problem to solve?</span>
      <span class="contact-me-text"
        >Contact me through this form, I am interested in hearing you, knowing
        your ideas and contributing to your projects with my work.</span
      >
      <span class="">Need a Frontend developer? <b> Contact me!</b></span>
    </div>

    <app-form></app-form>
  </div>

  <a href="#scroll-to-top" class="go-up-container">
    <img
      src="{{
        isHovered
          ? './assets/img/go-up-icon-blue.png'
          : './assets/img/go-up-icon.png'
      }}"
      (mouseover)="onMouseOver()"
      (mouseout)="onMouseOut()"
    />
  </a>

  <img
    class="bg-form"
    src="./assets/img/background/contacts-form.png"
    alt="colorful form as a backgroundimage"
  />
</section>
