@import "src/assets/styles/mixins-and-variables.scss";

section {
  @include general-layout();
  @include column-flex-box();
  gap: 60px;
  position: relative;
}

.headline-container {
  @include align-center-flexbox();
  justify-content: flex-start;
  gap: 35px;
}

.blue-line-left {
  width: 7%;
  height: 3px;
  background-color: var(--color-middle-blue);
}

.main-container {
  display: flex;
  justify-content: space-between;
}

.text-container {
  @include column-flex-box();
  gap: 35px;
  width: 45%;
}

.problem-solve-text {
  font-size: 32px;
  font-weight: 700;
}

.contact-me-text {
  font-size: 16px;
}

.need-developer-text {
  font-size: 16px;
}

.go-up-container {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.bg-form {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 650px;
  height: 650px;
}

app-form {
  width: 50%;
}
