<section id="contact">
  <div class="headline-container">
    <div class="blue-line-left"></div>
    <h2>Contact</h2>
  </div>
  <div class="main-container">
    <div
      class="text-container"
      data-aos="fade-right"
      data-aos-duration="700"
      data-aos-easing="ease-in-sine"
      data-aos-anchor-placement="bottom-bottom"
    >
      <span class="problem-solve-text">Got a problem to solve?</span>
      <span class="contact-me-text"
        >Contact me through this form, I am interested in hearing you, knowing
        your ideas and contributing to your projects with my work.</span
      >
      <span class="">Need a Frontend developer? <b> Contact me!</b></span>
    </div>
    <form action="" method="post">
      <div class="single-input-field">
        <div class="input-container">
          <input required type="text" placeholder="Your name" />
          <img
            class="d-none"
            src="./assets/img/input-error.png"
            alt="icon which shows if form is filled out correct"
          />
        </div>
        <div class="input-error">Your name is required</div>
      </div>

      <div class="single-input-field">
        <div class="input-container">
          <input required type="email" placeholder="Your email " />
          <img
            class="d-none"
            src="./assets/img/input-error.png"
            alt="icon which shows if form is filled out correct"
          />
        </div>
        <div class="input-error">Your email is required</div>
      </div>

      <div class="single-input-field">
        <div class="input-container">
          <input
            required
            type="text"
            placeholder="Your message "
            style="height: 282px"
          />
          <img
            class="d-none"
            src="./assets/img/input-error.png"
            alt="icon which shows if form is filled out correct"
          />
        </div>
        <div class="input-error">Your message is empty</div>
      </div>

      <div class="btn-container">
        <button>Send message :)</button>
      </div>
    </form>
  </div>

  <a href="#scroll-to-top" class="go-up-container">
    <img
      src="{{
        isHovered
          ? './assets/img/go-up-icon-blue.png'
          : './assets/img/go-up-icon.png'
      }}"
      (mouseover)="onMouseOver()"
      (mouseout)="onMouseOut()"
    />
  </a>

  <img
    class="bg-form"
    src="./assets/img/background/contacts-form.png"
    alt="colorful form as a backgroundimage"
  />
</section>
