@import "src/assets/styles/general-mixins-variables.scss";

section {
  @include general-layout();
  @include column-flex-box();
  gap: 60px;
  position: relative;
}

.headline-container {
  @include align-center-flexbox();
  justify-content: flex-start;
  gap: 35px;
}

.blue-line-left {
  width: 7%;
  min-width: 50px;
  height: 3px;
  background-color: var(--color-middle-blue);
}

.main-container {
  display: flex;
  justify-content: space-between;
}

.text-container {
  @include column-flex-box();
  gap: 35px;
  width: 45%;
}

.problem-solve-text {
  font-size: var(--font-size-three);
  font-weight: 700;
}

.contact-me-text {
  font-size: var(--font-size-one);
}

.need-developer-text {
  font-size: var(--font-size-one);
}

.go-up-container {
  display: flex;
  justify-content: flex-end;
  cursor: default;
  img {
    &:hover {
      cursor: pointer;
    }
  }
}

.bg-form {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 650px;
  height: 650px;
  z-index: -1;
}

app-form {
  width: 50%;
}

@media only screen and (max-width: 1400px) {
  .problem-solve-text {
    font-size: 30px;
  }
}

@media only screen and (max-width: 735px) {
  .main-container {
    @include column-flex-box();
    gap: 70px;
  }

  .text-container {
    width: unset;
  }

  .bg-form {
    width: 80%;
    height: 300px;
  }

  app-form {
    width: unset;
  }
}
