@import "src/assets/styles/mixins-and-variables.scss";

section {
  @include general-layout();
  @include column-flex-box();
  justify-content: flex-end;
}

.content {
  @include align-center-flexbox();
  justify-content: space-between;
}

.profile-img-big {
  background-image: url("/assets/img/background/i-am-profile-image-form.png");
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
  width: clamp(250px, 45%, 650px);
  height: clamp(250px, 95%, 750px);
  object-fit: cover;
  z-index: 1;
}

.text-container {
  @include align-center-flexbox();
  justify-content: space-between;
}

.i-am-container {
  font-size: 64px;
  transform: rotate(-90deg);
}

.name-title-container {
  @include column-flex-box();
  h2 {
    color: var(--color-middle-blue) !important;
    font-size: 55px;
  }
}

.btn-container {
  @include center-all-flexbox();
  margin-top: 34px;
  height: 58px;
}

button {
  color: var(--color-white);
  background-color: var(--color-bright-blue);
  z-index: 5;
  &:hover {
    background-color: var(--color-middle-blue);
  }
}

.bg-gradient {
  background-image: linear-gradient(to top, #141d2f, #172136);
  z-index: 220;
  height: 150px;
}
