@import "src/assets/styles/mixins-and-variables.scss";

section {
  @include general-layout();
  @include align-center-flexbox();
  justify-content: space-between;
  position: relative;
}

.bg-profile-img-big {
  position: absolute;
  bottom: 0;
  width: 707px;
  height: 750px;
  z-index: 0;
}

.profile-img-big {
  width: 646px;
  height: 705px;
  object-fit: cover;
  z-index: 1;
}

.text-container {
  @include align-center-flexbox();
  justify-content: space-between;
}

.i-am-container {
  font-size: 64px;
  transform: rotate(-90deg);
}

.name-title-container {
  @include column-flex-box();
  h1 {
    margin: 0;
  }
  h2 {
    color: var(--color-middle-blue) !important;
    font-size: 58px !important;
    margin: 0;
  }
}

.btn-container {
  @include center-all-flexbox();
  margin-top: 34px;
  height: 58px;
}

button {
  font-size: 23px;
  color: var(--color-white);
  background-color: var(--color-bright-blue);
  border-radius: 10px;
  transition: all 225ms ease-in-out;
  z-index: 5;
  &:hover {
    padding: 20px 40px;
    background-color: var(--color-middle-blue);
  }
}

.bg-gradient {
  position: absolute;
  top: 645px;
  width: 108vw;
  left: -18px;
  transform: rotate(3deg);
  height: 623px;
  z-index: 2;
}

@media only screen and (max-width: 2150px) {
  .profile-img-big {
    width: 554px;
    height: 610px;
    object-fit: cover;
    z-index: 1;
  }

  .bg-profile-img-big[_ngcontent-ng-c3537999258] {
    width: 578px;
  }

  button {
    font-size: 20px !important;
  }

  .bg-gradient {
    top: 538px;
  }
}
