<section>
  <img
    class="profile-img-big"
    src="./assets/img/profile-image-big.png"
    alt="image of portfolio owner"
  />

  <div class="introduction-container">
    <div class="text-container">
      <span class="i-am-container">I am</span>
      <div class="name-title-container">
        <h1>Laura Hesidenz</h1>
        <h2>FRONTEND DEVELOPER</h2>
      </div>
    </div>
    <a href="#contact" class="btn-container">
      <button>Let’s talk!</button>
    </a>
  </div>
  <img
    class="bg-gradient"
    src="./assets/img/background/i-am-gradient.png"
    alt="gradient background"
  />
</section>
