@import "src/assets/styles/mixins-and-variables.scss";

section {
  @include general-layout();
  @include align-center-flexbox();
  justify-content: space-between;
  position: relative;
}

.bg-profile-img-big {
  position: absolute;
  bottom: 0;
  width: 707px;
  height: 750px;
  z-index: 0;
}

.profile-img-big {
  width: 646px;
  height: 705px;
  object-fit: cover;
  z-index: 1;
}

.text-container {
  @include align-center-flexbox();
  justify-content: space-between;
}

.i-am-container {
  font-size: 64px;
  transform: rotate(-90deg);
}

.name-title-container {
  @include column-flex-box();
  h2 {
    color: var(--color-middle-blue) !important;
    font-size: 55px;
  }
}

.btn-container {
  @include center-all-flexbox();
  margin-top: 34px;
  height: 58px;
}

button {
  color: var(--color-white);
  background-color: var(--color-bright-blue);
  z-index: 5;
  &:hover {
    background-color: var(--color-middle-blue);
  }
}

.bg-gradient {
  position: absolute;
  top: 640px;
  width: 108vw;
  left: -18px;
  transform: rotate(3deg);
  height: 623px;
  z-index: 2;
}
