@import "src/assets/styles/mixins-and-variables.scss";

#scroll-to-top {
  position: absolute;
  top: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  @include align-center-flexbox();
  justify-content: space-between;
  padding: 20px var(--spacing-to-sides);
  background-color: var(--color-main);
}

nav {
  @include justifyContent-center-flexbox();
  align-items: flex-start;
  gap: 29px;
  a {
    font-size: var(--font-size-two);
    color: var(--color-white);
    &:hover {
      color: var(--color-bright-blue);
    }
  }
  img {
    width: 23px;
    height: 23px;
    cursor: pointer;
  }
}
