<form
  ngNativeValidate
  [formGroup]="contactForm"
  (submit)="sendingMail()"
  method="post"
>
  <div class="single-input-field">
    <div class="input-container">
      <input
        required
        [ngClass]="{ disabledInput: contactForm.disabled }"
        [class.red-border]="!nameFieldIsValid && nameFieldIsValid !== undefined"
        [class.green-border]="nameFieldIsValid"
        (keyup)="checkInputField(this.nameField, 'nameFieldIsValid')"
        formControlName="nameForm"
        type="text"
        placeholder="Your name"
        name="name"
        maxlength="30"
        minlength="3"
      />
      <img
        *ngIf="nameFieldIsValid !== undefined && !nameFieldIsValid"
        src="./assets/img/input-error.png"
        alt="icon which shows if form is filled out correct"
      />
      <img
        *ngIf="nameFieldIsValid"
        src="./assets/img/input-correct.png"
        alt="icon which shows if form is filled out correct"
      />
    </div>
    <div class="d-none input-error">Your name is required</div>
    <div class="d-none input-error">Please write at least 3 letters</div>
  </div>

  <div class="single-input-field">
    <div class="input-container">
      <input
        required
        [ngClass]="{ disabledInput: contactForm.disabled }"
        [class.red-border]="
          !emailFieldIsValid && emailFieldIsValid !== undefined
        "
        [class.green-border]="emailFieldIsValid"
        (keyup)="checkInputField(this.emailField, 'emailFieldIsValid')"
        formControlName="emailForm"
        type="email"
        placeholder="Your email"
        name="email"
        maxlength="30"
      />
      <img
        *ngIf="emailFieldIsValid !== undefined && !emailFieldIsValid"
        src="./assets/img/input-error.png"
        alt="icon which shows if form is filled out correct"
      />
      <img
        *ngIf="emailFieldIsValid"
        src="./assets/img/input-correct.png"
        alt="icon which shows if form is filled out correct"
      />
    </div>
    <div class="d-none input-error">Your email is required</div>
    <div class="d-none input-error">Please enter a valid email address</div>
  </div>

  <div class="single-input-field">
    <div class="input-container message-container">
      <textarea
        required
        [ngClass]="{ disabledInput: contactForm.disabled }"
        [class.red-border]="
          !messageFieldIsValid && messageFieldIsValid !== undefined
        "
        [class.green-border]="messageFieldIsValid"
        (keyup)="
          checkInputField(this.messageFieldIsValid, 'messageFieldIsValid')
        "
        formControlName="messageForm"
        type="text"
        placeholder="Your message"
        name="message"
        style="height: 282px; position: relative"
        cols="30"
        rows="10"
      ></textarea>
      <img
        *ngIf="messageFieldIsValid !== undefined && !messageFieldIsValid"
        src="./assets/img/input-error.png"
        alt="icon which shows if form is filled out correct"
      />
      <img
        *ngIf="messageFieldIsValid"
        src="./assets/img/input-correct.png"
        alt="icon which shows if form is filled out correct"
      />
    </div>
    <div class="d-none input-error">Your message is required</div>
  </div>

  <div class="btn-and-sucess-container">
    <button
      [ngClass]="{
        disabledButton: contactForm.disabled
      }"
      #sendButton
      type="submit"
    >
      <ng-container *ngIf="!isLoading; else loadingContent">
        Send message :)
      </ng-container>

      <ng-template #loadingContent>
        <img src="./assets/img/spinner.gif" alt="Loading..." />
      </ng-template>
    </button>
    <div class="sucess" *ngIf="emailWasSent">
      <span>Message was successfully sent</span>
      <img
        src="./assets/img/input-correct.png"
        alt="icon which shows that message was sent"
      />
    </div>
  </div>
</form>
