<form
  [formGroup]="contactForm"
  #form
  (submit)="sendMail()"
  ngNativeValidate
  method="post"
>
  <div class="single-input-field">
    <div class="input-container">
      <input
        required
        formControlName="nameForm"
        #nameFieldElement
        type="text"
        placeholder="Your name"
        name="name"
        maxlength="30"
        minlength="3"
      />
      <img
        src="./assets/img/input-error.png"
        alt="icon which shows if form is filled out correct"
      />
      <img
        class="d-none"
        src="./assets/img/input-correct.png"
        alt="icon which shows if form is filled out correct"
      />
    </div>
    <div class="d-none input-error">Your name is required</div>
    <div class="d-none input-error">Please write at least 3 letters</div>
  </div>

  <div class="single-input-field">
    <div class="input-container">
      <input
        #emailFieldElement
        formControlName="emailForm"
        type="email"
        placeholder="Your email"
        name="email"
        maxlength="50"
      />
      <img
        class="d-none"
        src="./assets/img/input-error.png"
        alt="icon which shows if form is filled out correct"
      />
      <img
        class="d-none"
        src="./assets/img/input-correct.png"
        alt="icon which shows if form is filled out correct"
      />
    </div>
    <div class="d-none input-error">Your email is required</div>
    <div class="d-none input-error">Please enter a valid email address</div>
  </div>

  <div class="single-input-field">
    <div class="input-container">
      <input
        #messageFieldElement
        messageForm
        type="text"
        placeholder="Your message"
        name="message"
        style="height: 282px"
      />
      <img
        class="d-none"
        src="./assets/img/input-error.png"
        alt="icon which shows if form is filled out correct"
      />
      <img
        class="d-none"
        src="./assets/img/input-correct.png"
        alt="icon which shows if form is filled out correct"
      />
    </div>
    <div class="d-none input-error">Your message is empty</div>
  </div>

  <div class="btn-and-sucess-container">
    <button #sendButton type="submit">Send message :)</button>
    <div class="sucess" *ngIf="emailWasSent">
      <span>Message was successfully sent</span>
      <img
        src="./assets/img/input-correct.png"
        alt="icon which shows that message was sent"
      />
    </div>
  </div>
</form>
