@import "src/assets/styles/general-mixins-variables.scss";
form {
  @include column-flex-box();
  gap: 35px;
  img {
    position: absolute;
    right: 25px;
  }
}

input,
textarea {
  width: 100%;
  padding: 15px 25px;
  background: transparent;
  font-size: var(--font-size-one);
  color: var(--color-white);
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid var(--color-middle-blue);
  outline: none;
  &:focus {
    border-color: #e61c40 !important;
  }
  &:hover {
    border-color: var(--color-bright-blue);
    cursor: pointer;
  }
  &::placeholder {
    font-size: var(--font-size-one);
    color: var(--color-white);
  }
}

.input-container {
  @include center-all-flexbox();
  position: relative;
}

.input-error {
  color: #e61c40;
  font-size: 13px;
}

.btn-and-sucess-container {
  @include column-flex-box();
  align-items: center;
  justify-content: space-between;
  height: 110px;

  z-index: 3;
  button {
    @include center-all-flexbox();
    color: var(--color-white);
    background-color: var(--color-bright-blue);
    z-index: 5;
    width: 250px;
    height: 50px;
    &:hover {
      background-color: var(--color-middle-blue);
      padding: var(--spacing-btn);
    }
    img {
      position: unset;
      width: 24px;
      height: 21px;
    }
  }
}

.sucess {
  @include align-center-flexbox();
  gap: 15px;
  span {
    color: #70e61c;
    font-size: var(--font-size-one);
  }
  img {
    position: unset;
  }
}

.disabledInput {
  &:hover {
    border-color: var(--color-middle-blue);
    cursor: not-allowed;
  }
}

.disabledButton {
  &:hover {
    padding: var(--spacing-btn);
    cursor: not-allowed;
    background-color: var(--color-bright-blue) !important;
  }
}
