<form #form (submit)="sendMail()" ngNativeValidate method="post">
  <div class="single-input-field">
    <div class="input-container">
      <input
        required
        #nameFieldElement
        type="text"
        placeholder="Your name"
        name="name"
      />
      <img
        src="./assets/img/input-error.png"
        alt="icon which shows if form is filled out correct"
      />
      <img
        class="d-none"
        src="./assets/img/input-correct.png"
        alt="icon which shows if form is filled out correct"
      />
    </div>
    <div class="d-none input-error">Your name is required</div>
  </div>

  <div class="single-input-field">
    <div class="input-container">
      <input
        required
        #emailFieldElement
        type="email"
        placeholder="Your email"
        name="email"
      />
      <img
        class="d-none"
        src="./assets/img/input-error.png"
        alt="icon which shows if form is filled out correct"
      />
      <img
        class="d-none"
        src="./assets/img/input-correct.png"
        alt="icon which shows if form is filled out correct"
      />
    </div>
    <div class="d-none input-error">Your email is required</div>
  </div>

  <div class="single-input-field">
    <div class="input-container">
      <input
        required
        #messageFieldElement
        type="text"
        placeholder="Your message"
        name="message"
        style="height: 282px"
      />
      <img
        class="d-none"
        src="./assets/img/input-error.png"
        alt="icon which shows if form is filled out correct"
      />
      <img
        class="d-none"
        src="./assets/img/input-correct.png"
        alt="icon which shows if form is filled out correct"
      />
    </div>
    <div class="d-none input-error">Your message is empty</div>
  </div>

  <div class="btn-container">
    <button #sendButton>Send message :)</button>
  </div>
</form>
