@import "src/assets/styles/general-mixins-variables.scss";
form {
  @include column-flex-box();
  gap: 35px;
  img {
    position: absolute;
    right: 25px;
  }
}

input,
textarea {
  padding: 15px 25px;
  background: transparent;
  font-size: var(--font-size-one);
  color: var(--color-white);
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid var(--color-middle-blue);
  outline: none;
  &:focus {
    border-color: #e61c40 !important;
  }
  &:hover {
    border-color: var(--color-bright-blue);
    cursor: pointer;
  }

  &::placeholder {
    font-size: var(--font-size-one);
    color: var(--color-white);
  }
}

.input-container {
  @include center-all-flexbox();
  position: relative;
}

.input-error {
  color: #e61c40;
  font-size: 13px;
}

.btn-container {
  @include center-all-flexbox();
  height: 58px;
  z-index: 3;
}

button {
  color: var(--color-white);
  background-color: var(--color-bright-blue);
  z-index: 5;
  &:hover {
    background-color: var(--color-middle-blue);
  }
}
