@import "src/assets/styles/mixins-and-variables.scss";

section {
  padding: $spacing-top-sections 0 $spacing-bottom-sections 0;
  margin-top: $spacing-between-sections;
}

.headline-container {
  position: relative;
  @include center-all-flexbox();
  gap: 32px;
  width: 100%;
}

.blue-line-left {
  /*
  width: 109px;
  height: 3px;
  background-color: $color-middle-blue;
   */
}

.blue-line-right {
  /*
  position: absolute;
  right: 0;
  width: 42%;
  height: 3px;
  background-color: $color-middle-blue;
  */
}

.text-container {
  @include column-flex-box();
  align-items: center;
  gap: 35px;
}

.description-container {
  display: block;
  color: $color-white;
  text-align: center;
  font-size: 16px;
  margin-top: 35px;
}

main {
  padding: $spacing-top-sections $spacing-to-sides $spacing-bottom-sections;
  @include column-flex-box();
  gap: 45px;
}
