<section>
  <div class="headline-container">
    <div></div>
    <h2>Portfolio</h2>
    <div></div>
  </div>
  <div class="description-container">
    This page is a sample of my work - please feel free to try them out.
  </div>
  <div class="projekts">
    <div class="single-projekt">
      <img
        src="./assets/img/projects/join.png"
        alt="computer with the join-projekt on the screen"
      />
      <div class="details-project">
        <h3>Join</h3>
        <span class="skills-of-project"
          >Angular | TypeScript | HTML | CSS | Firebase
        </span>
        <div class="description-project">
          Task manager inspired by the Kanban System. Create and organize tasks
          using drag and drop functions, assign users and categories.
        </div>
      </div>
      <div class="btns-container">
        <button>Live test</button>
        <button>Github</button>
      </div>
    </div>
  </div>
</section>
