<section id="portfolio">
  <div class="headline-container">
    <div class="blue-line-left"></div>
    <div>
      <h2>Portfolio</h2>
    </div>
    <div class="blue-line-right"></div>
  </div>
  <span class="description-container">
    This page is a sample of my work - please feel free to try them out.
  </span>
  <main>
    <app-single-project
      *ngFor="let project of this.projects; let i = index"
      [title]="project.title"
      [skills]="project.skills"
      [description]="project.description"
      [img]="project.img"
      [index]="i"
      class="text-section"
      id="about-me"
      data-aos="zoom-in"
      data-aos-duration="1500"
      data-aos-anchor-placement="top-center"
    ></app-single-project>
  </main>
  <img
    class="bg-form-1"
    src="./assets/img/background/portfolio-form-1.png"
    alt="colorful form as a backgroundimage"
  />
  <img
    class="bg-form-2"
    src="./assets/img/background/portfolio-form-2.png"
    alt="colorful form as a backgroundimage"
  />
</section>
