@import "src/assets/styles/general-mixins-variables.scss";

section {
  @include general-layout();
  position: relative;
}

.head-container {
  @include center-all-flexbox();
  article {
    width: calc(100% / 3);
  }
}

.blue-line-left-container {
  @include align-center-flexbox();
  justify-content: flex-end;
}

.blue-line-left {
  width: 100px;
  height: 3px;
  background-color: var(--color-middle-blue);
}

.headline {
  @include center-all-flexbox();
}

.blue-line-right-container {
  @include align-center-flexbox();
  position: relative;
}

.blue-line-right {
  width: 100%;
  height: 3px;
  background-color: var(--color-middle-blue);
}

.text-container {
  @include column-flex-box();
  align-items: center;
  gap: 35px;
}

.description-container {
  display: block;
  color: var(--color-white);
  text-align: center;
  font-size: var(--font-size-one);
  margin-top: 35px;
}

main {
  @include column-flex-box();
  gap: 100px;
  padding-top: 40px;
}

.bg-form-1 {
  position: absolute;
  left: 0;
  top: 950px;
  width: 757px;
  height: 908px;
  z-index: -1;
}

.bg-form-2 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 757px;
  height: 908px;
  z-index: -1;
}
