@import "src/assets/styles/general-mixins-variables.scss";

section {
  @include general-layout();
  position: relative;
}

.head-container {
  @include center-all-flexbox();
  article {
    width: calc(100% / 3);
  }
}

.blue-line-left-container {
  @include align-center-flexbox();
  justify-content: flex-end;
}

.blue-line-left {
  width: 20%;
  height: 3px;
  background-color: var(--color-middle-blue);
}

.headline {
  @include center-all-flexbox();
}

.blue-line-right-container {
  @include align-center-flexbox();
  justify-content: flex-end;
  position: relative;
}

.blue-line-right {
  width: 100%;
  height: 3px;
  background-color: var(--color-middle-blue);
}

.text-container {
  @include column-flex-box();
  align-items: center;
  gap: 35px;
}

.description-container {
  display: block;
  color: var(--color-white);
  text-align: center;
  font-size: var(--font-size-one);
  margin-top: 35px;
}

main {
  @include column-flex-box();
  gap: 100px;
  padding-top: 40px;
}

.bg-form-1 {
  position: absolute;
  left: 0;
  top: 359px;
  width: 340px;
  height: 757px;
  z-index: -1;
}

.bg-form-2 {
  position: absolute;
  right: 0;
  bottom: -206px;
  width: 340px;
  height: 757px;
  z-index: -1;
}

@media only screen and (max-width: 980px) {
  .blue-line-left {
    width: 70px;
    margin-right: 50px;
  }

  .blue-line-right {
    width: 80%;
  }
}

@media only screen and (max-width: 900px) {
  main {
    gap: 120px !important;
  }

  .bg-form-1 {
    top: 180px;
    width: 287px;
    height: 560px;
  }
}

@media only screen and (max-width: 700px) {
  .blue-line-left {
    margin-right: 70px;
  }

  .blue-line-right {
    width: 70%;
  }
}

@media only screen and (max-width: 450px) {
  .blue-line-right {
    width: 50%;
  }
}
