<section>
  <img
    class="bg-profile-img-big"
    src="./assets/img/bg-profile-image-big.png"
    alt=""
  />
  <img
    class="profile-img-big"
    src="./assets/img/profile-image-big.png"
    alt=""
  />
  <div>
    <div class="text-container">
      <div class="i-am-container">I am</div>
      <div class="name-title-container">
        <h1>Laura Hesidenz</h1>
        <h2>FRONTEND DEVELOPER</h2>
      </div>
    </div>
    <div class="btn-container">
      <button>Let’s talk!</button>
    </div>
  </div>
  <img class="test" src="./assets/img/bg-gradient.png" alt="" />
</section>
