@import "src/assets/styles/mixins-and-variables.scss";

section {
  @include general-layout();
  @include align-center-flexbox();
  justify-content: space-between;
  position: relative;
}

.icons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 125px;
  width: 45%;
}

.single-skill {
  @include column-flex-box();
  justify-content: center;
  align-items: center;
  gap: 10px;
  img {
    object-fit: cover;
    transition: all 125ms ease-in-out;
    &:hover {
      transform: translateY(-10px);
    }
  }
}

.my-skills-text-container {
  @include column-flex-box();
  gap: 35px;
  width: 45%;
  span {
    text-align: center;
  }
}

.headline-container {
  @include center-all-flexbox();
  position: relative;
  h2 {
    text-align: center !important;
  }
}

.blue-line-right {
  position: absolute;
  right: 0;
  width: 160px;
  height: 3px;
  background-color: $color-bright-blue;
}

.btn-container {
  @include center-all-flexbox();
  gap: 15px;
  height: 58px;
  button {
    font-size: 23px;
    color: $color-white;
    background-color: $color-bright-blue;
    border-radius: 10px;
    transition: all 225ms ease-in-out;
    z-index: 5;
    &:hover {
      padding: 20px 40px;
      background-color: $color-middle-blue;
    }
  }
}

.bg-form {
  position: absolute;
  left: 0;
  bottom: -244px;
  width: 656px;
  height: 793px;
  z-index: -1;
}
