<section id="skills">
  <div class="icons-container">
    <div *ngFor="let skill of this.skills; let i = index" class="single-skill">
      <img
        src="./assets/img/skills/{{ skill.image }}"
        alt="icon of {{ skill.name }}"
      />
      <span>{{ skill.name }}</span>
    </div>
  </div>
  <div
    class="my-skills-text-container"
    id="about-me"
    data-aos="fade-up"
    data-aos-duration="300"
    data-aos-anchor-placement="top-center"
  >
    <div class="headline-container">
      <h2>My Skills</h2>
      <div class="blue-line-right"></div>
    </div>
    <span
      >I have grown my frontend developments skills that have allowed me to
      create different real projects.</span
    >
    <a href="#contact" class="btn-container">
      <button>Get in touch</button>
    </a>
  </div>
  <img
    class="bg-form"
    src="./assets/img/background/my-skills-form.png"
    alt="colorful form as a backgroundimage"
  />
</section>
