<section>
  <div class="icons-container">
    <div class="single-skill">
      <img src="./assets/img/skills/skill-angular.png" alt="icon of Angular" />
      <span>Angular</span>
    </div>
    <div class="single-skill">
      <img
        src="./assets/img/skills/skill-typescript.png"
        alt="icon of TypeScript"
      />
      <span>TypeScript</span>
    </div>
    <div class="single-skill">
      <img
        src="./assets/img/skills/skill-javaScript.png"
        alt="icon of javaScript"
      />
      <span>JavaScript</span>
    </div>
    <div class="single-skill">
      <img src="./assets/img/skills/skill-html.png" alt="icon of html" />
      <span>HTML</span>
    </div>
    <div class="single-skill">
      <img
        src="./assets/img/skills/skill-firebase.png"
        alt="icon of firebase"
      />
      <span>Firebase</span>
    </div>
    <div class="single-skill">
      <img src="./assets/img/skills/skill-git.png" alt="icon of git" />
      <span>Git</span>
    </div>
    <div class="single-skill">
      <img src="./assets/img/skills/skill-css.png" alt="icon of css" />
      <span>CSS</span>
    </div>
    <div class="single-skill">
      <img src="./assets/img/skills/skill-api.png" alt="icon of api" />
      <span>Rest-Api</span>
    </div>
    <div class="single-skill">
      <img src="./assets/img/skills/skill-scrum.png" alt="icon of scrum" />
      <span>Scrum</span>
    </div>
    <div class="single-skill">
      <img
        src="./assets/img/skills/skill-material-design.png"
        alt="icon of material-design"
      />
      <span>Material Design</span>
    </div>
  </div>
  <div class="my-skills-text-container">
    <div class="headline-container">
      <h2>My Skills</h2>
      <div class="blue-line-right"></div>
    </div>
    <span
      >I have grown my frontend developments skills that have allowed me to
      create different real projects.</span
    >
    <div class="btn-container">
      <button>Get in touch</button>
    </div>
  </div>
</section>
