@import "src/assets/styles/mixins-and-variables.scss";

section {
  @include align-center-flexbox();
  justify-content: space-between;
  @include general-layout();
}

.icons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 125px;
  width: 55%;
  img {
    width: 88px;
    height: 100px;
  }
}

.single-skill {
  @include column-flex-box();
  justify-content: center;
  align-items: center;
  gap: 10px;
  img {
    width: 88px;
    height: 100px;
  }
}

.my-skills-text-container {
  @include column-flex-box();
  gap: 35px;

  span {
    text-align: center;
  }
}

.headline-container {
  @include center-all-flexbox();
  h2 {
    text-align: center !important;
  }
}

.blue-line-right {
  position: absolute;
  right: 0;
  width: $spacing-to-sides;
  height: 3px;
  background-color: $color-bright-blue;
}

.btn-container {
  @include center-all-flexbox();
  gap: 15px;
  height: 58px;
  button {
    font-size: 23px;
    color: $color-white;
    background-color: $color-bright-blue;
    border-radius: 10px;
    transition: all 225ms ease-in-out;
    z-index: 5;
    &:hover {
      padding: 20px 40px;
      background-color: $color-middle-blue;
    }
  }
}
