@import "src/assets/styles/mixins-and-variables.scss";

section {
  @include general-layout();
}

* {
  color: var(--color-white);
}

a {
  text-decoration: underline;

  font-size: 16px;
}

p {
  font-size: 16px;
}
