@import "src/assets/styles/mixins-and-variables.scss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Poppins;
  overflow-x: hidden;
  background-color: $color-main;
}

a {
  text-decoration: none;
}

button {
  border: none;
  padding: $spacing-btn;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

span,
h1,
h2,
h3 {
  color: $color-white;
  margin: 0;
}

h2 {
  font-size: 90px;
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-thumb {
  background: #00bee8;
  border-radius: 2px;
}

.d-none {
  display: none;
}
