@import "src/assets/styles/mixins-and-variables.scss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Poppins;
  overflow-x: hidden;
  background-color: var(--color-main);
}

a {
  text-decoration: none;
}

button {
  border: none;
  padding: var(--spacing-btn);
  font-size: 23px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

span,
h1,
h2,
h3 {
  color: var(--color-white);
  margin: 0;
}

h1,
h2 {
  font-size: 90px;
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-thumb {
  background: #00bee8;
  border-radius: 2px;
}

.d-none {
  display: none !important;
}

@media only screen and (max-width: 2150px) {
  h1,
  h2 {
    font-size: 65px;
  }
}
