@import "src/assets/styles/mixins-and-variables.scss";

@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/Poppins/Poppins-Light.ttf");
}

body {
  margin: 0;
  font-family: Poppins;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

button {
  border: none;
  padding: $spacing-btn;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

span,
h1,
h2 {
  color: $color-white;
}

h2 {
  font-size: 90px !important;
  margin: 0 !important ;
}
