//VARIABLES/////////////////

:root {
  --color-main: #141d2f;
  --color-bright-blue: #00bee8;
  --color-middle-blue: #4b47ff;
  --color-white: #ffffff;

  --font-size-one: 16px;
  --font-size-two: 23px;
  --font-size-three: 64px;

  --spacing-to-sides: 25%;
  --spacing-between-sections: 130px;
  --spacing-btn: 15px 30px;
  --spacing-btn-hover: 20px 40px;

  --font-family: Poppins;
}

//MIXINS/////////////////

@mixin general-layout() {
  padding: var(--spacing-between-sections) var(--spacing-to-sides);
}

@mixin center-all-flexbox() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin justifyContent-center-flexbox() {
  display: flex;
  justify-content: center;
}

@mixin align-center-flexbox() {
  display: flex;
  align-items: center;
}

@mixin column-flex-box() {
  display: flex;
  flex-direction: column;
}

//GENERAL/////////////////

* {
  // outline: red dashed 1px;
}

html {
  scroll-behavior: smooth;
  color: var(--color-white);
}

body {
  margin: 0;
  font-family: var(--font-family);
  overflow-x: hidden;
  background-color: var(--color-main);
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  font-size: var(--fonz-size-two);
  padding: var(--spacing-btn);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: none;
  transition: all 225ms ease-in-out;
  &:hover {
    padding: var(--spacing-btn-hover);
  }
}

h2 {
  font-size: 90px;
  margin: 0;
}

h3 {
  font-size: 32px;
  margin: 0;
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-thumb {
  background: #00bee8;
  border-radius: 2px;
}

.d-none {
  display: none !important;
}

//RESPONSIV/////////////////

@media only screen and (max-width: 3000px) {
  :root {
    --spacing-to-sides: 15%;
  }
}

@media only screen and (max-width: 2150px) {
  :root {
    --spacing-to-sides: 10%;
  }
}

@media only screen and (max-width: 1750px) {
  :root {
    --spacing-to-sides: 10%;
  }

  h2 {
    font-size: 60px;
    margin: 0;
  }
}

@media only screen and (max-width: 1530px) {
  :root {
    --spacing-to-sides: 5%;
    --font-size-three: 50px;
  }
}

@media only screen and (max-width: 1200px) {
  :root {
    --font-size-one: 15px;
    --font-size-two: 21px;
    --spacing-between-sections: 80px;
  }
}

@media only screen and (max-width: 600px) {
  :root {
    --spacing-btn: 13px 28px;
    --spacing-btn-hover: 16px 34px;
  }

  h2 {
    font-size: 45px;
  }
}

@media only screen and (max-width: 380px) {
  :root {
    --spacing-to-sides: 4%;
  }
}

@media only screen and (max-width: 360px) {
  h2 {
    font-size: 35px;
  }
}
