:root {
  --spacing-btn: 15px 30px;
  --color-main: #141d2f;
  --color-bright-blue: #00bee8;
  --color-middle-blue: #4b47ff;
  --color-white: #ffffff;

  //GENERAL SPACING LAYOUT
  --spacing-to-sides: 25%;
  --spacing-between-sections: 150px;
}

@mixin general-layout() {
  padding: var(--spacing-between-sections) var(--spacing-to-sides);
}

////////////////////////

@mixin center-all-flexbox() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin justifyContent-center-flexbox() {
  display: flex;
  justify-content: center;
}

@mixin align-center-flexbox() {
  display: flex;
  align-items: center;
}

@mixin column-flex-box() {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 3000px) {
  :root {
    --spacing-to-sides: 15%;
  }
}

@media only screen and (max-width: 2150px) {
  :root {
    --spacing-to-sides: 10%;
  }
}

@media only screen and (max-width: 1530px) {
  :root {
    --spacing-to-sides: 5%;
    --spacing-btn: 12px 27px;
  }
}

@media only screen and (max-width: 380px) {
  :root {
    --spacing-to-sides: 3.5%;
  }
}
