$color-main: #141d2f;
$color-bright-blue: #00bee8;
$color-middle-blue: #4b47ff;
$color-white: #ffffff;

$spacing-btn: 15px 30px;

//GENERAL SPACING LAYOUT

$spacing-to-sides: 25%;
$spacing-top-sections: 50px;
$spacing-bottom-sections: 50px;
$spacing-between-sections: 150px;

@mixin general-layout() {
  padding: $spacing-top-sections $spacing-to-sides $spacing-bottom-sections;
  margin-top: $spacing-between-sections;
}

////////////////////////

@mixin center-all-flexbox() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin justifyContent-center-flexbox() {
  display: flex;
  justify-content: center;
}

@mixin align-center-flexbox() {
  display: flex;
  align-items: center;
}

@mixin column-flex-box() {
  display: flex;
  flex-direction: column;
}
