$color-main: #141d2f;
$color-bright-blue: #00bee8;
$color-white: #ffffff;
$spacing-to-sides: 10%;

@mixin centerAll() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin centerJustifyContent() {
  display: flex;
  justify-content: center;
}

@mixin centerAlignItems() {
  display: flex;
  align-items: center;
}
